.visible {
    display: block;
 }
 
 .hidden {
    display: none !important;
 }
 #bd{
   background-color:#222222;
 }
 .trasparente {
   background-color: transparent;
   border-collapse: collapse;
 }
 table { background-color: transparent;}
 .trasparente th,
 .trasparente td {
   background-color: transparent;
   border: 1px solid #ccc; /* opzionale: solo se vuoi bordi */
   color: black; /* cambia se serve */
 }

 .pieDiPagina {
  background-color: #000000;
  color: white;
  text-align: left;
  padding: 10px;
}

.testoBianco{
  color:white;
}

#paginaLogin .row {
  margin-bottom: 15px;
}
#paginaRegister .row {
  margin-bottom: 15px;
}

#pagina1 .row {
  margin-bottom: 15px;
  margin-top: 15px;
}
 
#areaPersonale .row {
  margin-bottom: 15px;
  margin-top: 15px;
}



td {
  width: 300px;
  height: 550px;
  vertical-align: top; /* evita che le card si allineino in basso */
  padding: 10px;
}

.c {
  background-color: #ebeadb;
  height: 100%;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden; /* importante per far sì che l'immagine segua il bordo arrotondato */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label{
    color:white;
}
.card-body {
  padding: 16px;
}

.errore{
  color:red;
}
.ok{
  color:green;
}