.visible {
    display: block;
 }
 
 .hidden {
    display: none;
 }
 #bd{
   background-color:#FFFFFF;
 }
 .trasparente {
   background-color: transparent;
   border-collapse: collapse;
 }
 
 .trasparente th,
 .trasparente td {
   background-color: transparent;
   border: 1px solid #ccc; /* opzionale: solo se vuoi bordi */
   color: black; /* cambia se serve */
 }
 